[user]
    name = Anton Ihonen
[alias]
    a = add
    c = commit
    can = commit --amend --no-edit
    d = diff
    dw = diff -w
    l = log --all --decorate --graph --oneline --topo-order
    l1 = log --graph --decorate --oneline
    m = merge --no-ff
    p = push
    pf = push --force-with-lease
    s = status --branch --short
    r = rebase
[diff]
    renames = true
